* {
    margin: 2%;
    padding: 0;

}


body {
background-color: rgb(190, 169, 144);
}

h1 {
    text-align: center;
    position: relative; right: 23px;
    font-size: 6em;
    font-family: 'Cute Font', cursive; 
    color: beige;
}

a img {
    border: 3px solid rgb(201, 193, 170);
    border-radius: 30px ;
    
}

.soup {
    float: left;
    padding-left: 7%;   
}

.soup:hover {
   transform:scale(0.96) ;
   opacity: .8;
}

.lasagna {
    float: left; 
    padding-left: 7%;
}

.lasagna:hover {
    transform:scale(.96) ;
    opacity: .8;
    
    
 }
.chunky {
    float: right;
    padding-right: 7%;
}

.chunky:hover {
    transform:scale(0.96) ;
    opacity: .8;
 }

.pizza {
    float: right;
    padding-right: 7%;
}

.pizza:hover {
    transform:scale(0.96) ;
    opacity: .8;
 }

.soup_p {
    float: left;
    position: relative; right: 400px; bottom: 60px;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(233, 224, 212);
    font-size: 2em;
} 

.chunky_p {
    float: right;
    position: relative;left: 470px; bottom:555px;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(233, 224, 212);
    font-size: 2em;
}   

.lasagna_p {
    float: left;
    position: relative; left: 270px; bottom: 45px;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(233, 224, 212);
    font-size: 2em;
}

.pizza_p {
    float: right;
    position: relative; left: 785px; bottom: 55px;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(233, 224, 212);
    font-size: 2em;
}
