* {
    margin: 2%;
    padding: 0;

}


body {
background-color: rgb(190, 169, 144);
}

h1 {
    text-align: center;
    position: relative; right: 23px;
    font-size: 9em;
    font-family: 'Cute Font', cursive; 
    color: beige;
    text-shadow: 4px 4px 4px rgb(131, 116, 94);
}

a img {
    border: 3px solid rgb(201, 193, 170);
    border-radius: 30px ;
    
}

.soup {
    float: left;
    padding-left: 7%;   
}

.soup:hover {
   transform:scale(0.96) ;
   opacity: .8;
}

.lasagna {
    float: left; 
    padding-left: 7%;
}

.lasagna:hover {
    transform:scale(.96) ;
    opacity: .8;
    
    
 }
.chunky {
    float: right;
    padding-right: 7%;
}

.chunky:hover {
    transform:scale(0.96) ;
    opacity: .8;
 }

.pizza {
    float: right;
    padding-right: 7%;
}

.pizza:hover {
    transform:scale(0.96) ;
    opacity: .8;
 }

.soup_p {
    font-size: 2em;
    float: left;
    position: relative; right: 400px; bottom: 60px;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(233, 224, 212);
    font-size: 2em;
} 

.chunky_p {
    float: right;
    position: relative;left: 470px; bottom:555px;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(233, 224, 212);
    font-size: 2em;
}   

.lasagna_p {
    float: left;
    position: relative; left: 270px; bottom: 45px;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(233, 224, 212);
    font-size: 2em;
}

.pizza_p {
    float: right;
    position: relative; left: 785px; bottom: 55px;
    font-family: 'Rubik Bubbles', cursive;
    color: rgb(233, 224, 212);
    font-size: 2em;
}

.soup_h {
    font-size: 6em;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(128, 114, 96);
}

.chunky_h {
    font-size: 6em;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(128, 114, 96);
}

.pizza_h {
    font-size: 6em;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(128, 114, 96);
}

#soup_img {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; right: 20px;;
}

#fatcat_img {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; right: 20px;
    
    
}

#pizzacat_img {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; right: 20px;

}



ul li {
    list-style: inside;
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;;
    font-size: 1.5em;
    position: relative; right: 20px;
    font-weight: lighter;
    color: rgb(255, 244, 229);
    text-shadow: 4px 4px 4px rgb(119, 109, 93);
     
}

.h2_soup {
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;;
    font-weight: lighter;
    position: relative; right: 5px;
    color: rgb(255, 243, 225);
    text-shadow: 5px 5px 5px rgb(80, 71, 58);

}

.h2_chunk {
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;;
    font-weight: lighter;
    position: relative; right: 5px;
    color: rgb(255, 243, 225);
    text-shadow: 5px 5px 5px rgb(80, 71, 58);
}

.h2_pizza {
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;;
    font-weight: lighter;
    position: relative; right: 5px;
    color: rgb(255, 243, 225);
    text-shadow: 5px 5px 5px rgb(80, 71, 58);
}